body {
  font-family: Arial, Helvetica, sans-serif;
}

.chips {
  display:flex;
  justify-content: center;
  align-items: stretch;
  height: 32px;
  gap:8px;
}

.chip {
  padding: 0px 16px;
  background-color: #f3f4f6;
  color:#111;
  font-weight: 400;
  border-radius: 100px;
  border:1px solid rgba(202, 202, 202,20%);
  transition: background-color 80ms ease-in, color 80ms ease-in;
}

.chip:hover {
  background-color: #e5e7eb;
}

.chip:focus {
  outline: 2px solid #bbe0dd;
  outline-offset: 0.5px;
}

.chip:active {
  background-color: #d1d5db;
}

.chip:disabled {
  background-color: #d9d9d9;
  color:#b8b8b8;
}

.selected {
  background-color: #0f766e;
  color:white;
}

.selected:hover {
  background-color: #0d9488;
}

.selected:active {
  background-color: #115e59;
}




